header {
    background-color: #131313;
    color: white;
    min-height: 120px;
    display: flex;
    justify-content: center;
}

.container {
    width: 100%;
    max-width: 1700px;
    min-width: 320px;
    margin: 0 auto;
    padding: 0 16px;
}

header .flex {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

header .logo {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: start;
}

h2 {
    font-size: 2rem;
    font-family: "Calistoga";
    font-weight: 700;
}

.logo strong {
    color: #ec762b;
}

header .nav-bar {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: end;
}

.nav-bar nav,
.header-btn {
    display: none;
}

header img {
    width: 2em;
}

#Inicio {
    min-height: 70dvh;
    background-color: #10120d;
    display: flex;
    justify-content: center;
}

#Inicio .layout {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.5fr 1fr;
}


.layout .card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.layout .card h1 {
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 30px;
    font-family: "Calistoga";
    font-weight: 400;
}

#Inicio .card p {
    text-align: center;
    font-size: 1.2rem;
    color: #b8b8b8;
    font-family: "Calistoga";
    font-weight: 400;
}

.layout .card .btn {
    margin-top: 30px;
    color: #fff;
    background-color: #fe690a;
    font-size: 1.2em;
    padding: 12px 50px;
    border-radius: 8px;
    cursor: pointer;
}

#Inicio .card img {
    width: 100%;
    max-width: 320px;
    height: auto;
    position: absolute;
    top: 20px;
}

.pesquisa {
    min-height: 50dvh;
    height: auto;
    background-color: #1e1e1e;
    display: flex;
    place-items: end;
    color: white;
}

.pesquisa .layout {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto auto;
    align-items: center;
    text-align: center;
    padding-bottom: 20px;
    min-height: 40dvh;
    gap: 20px;
}

.pesquisa .card-title{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
}

.pesquisa h2 {
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
}


.pesquisa input {
    width: 100%;
    background-color: #2a2a2a;
    padding: 20px 50px;
    border: none;
    color: white;
}

.pesquisa input::placeholder {
    color: #5f5f5f;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
}

form img {
    position: relative;
    left: 10px;
    top: 45px;
}

.pesquisa select {
    width: 100%;
    background-color: #2a2a2a;
    padding: 20px 50px 20px 10px;
    border: none;
    color: #696969;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
}

#Burguers {
    height: auto;
    background-color: #131313;
}

#Burguers .layout {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    gap: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    place-items: center;
}

#Burguers .card {
    width: 100%;
    max-width: 550px;
    min-height: 350px;
    max-height: 650px;
    background: linear-gradient(#2a2a2a 50%, #1e1e1e 50%);
}

#Burguers .card-burguer {
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    position: relative;
}

#Burguers .card-burguer .wrapper {
    width: 100%;
    text-align: start;
}

#Burguers .card-burguer p {
    color: #bababa;
    font-size: 1.1em;
    font-family: Arial, Helvetica, sans-serif;
}

#Burguers .card-burguer h2 {
    color: #fff;
    font-size: 1.8em;
    font-family: sans-serif;
}

#Burguers .card-burguer span {
    color: #a94d28;
    font-size: 1.6em;
    font-family: Arial, Helvetica, sans-serif;
}

#Burguers .card-burguer img {
    width: 14em;
    display: inline-block;
}

#Burguers .card-burguer .btn-promo {
    display: none;
}

#Burguers .active .btn-promo {
    display: flex;
}


#Burguers .card-burguer .btn-promo {
    background-color: #f56b18;
    padding: 8px 20px;
    border-radius: 5px;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 2;
}

footer {
    background-color: #1e1e1e;
}

.footer-card h2 {
    font-size: 2.5em;
    font-family: "Calistoga";
    font-weight: 700;
    margin-bottom: 10px;
}

.footer-card strong {
    color: #ec762b;
}

footer .layout {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    place-items: center;
    align-items: center;
    padding: 20px;
}

.footer-copy p {
    color: #4e4e4e;
    font-size: 1.3em;
}